.heading {
    color: green;
}

.value {
    font-size: 76px;
    text-align: center;
}

.label {
    font-size: 30px;
    text-align: center;
}

.field {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.timer {
    display: flex;
    flex-direction: row;
}